<nb-card [nbSpinner]="loading">


  <nb-card-header>
    Create A New Customer
  </nb-card-header>

  <nb-card-body>

    <form [formGroup]="firstForm" class="step-container">
      <nb-card class="col-md-8 offset-md-2">
        <nb-card-body>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                
                <input type="text" formControlName="username" nbInput fullWidth id="inputUsername"
                  placeholder="Username">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                
                <input type="email" formControlName="email" nbInput fullWidth id="inputEmail" placeholder="Email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                
                <input type="text" formControlName="firstName" nbInput fullWidth id="inputFirstName"
                  placeholder="Contact First Name">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                
                <input type="text" formControlName="lastName" nbInput fullWidth id="inputLastName"
                  placeholder="Contact Last Name">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                
                <input type="text"  id="businessName"
                nbInput fullWidth formControlName="businessName" placeholder="Business Name">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                
                <input type="text" id="telephone"
                nbInput fullWidth formControlName="telephone" placeholder="Telephone" >
              </div>
            </div>
          </div>
          <!-- <div class="input-group">
            <input nbInput fullWidth formControlName="businessName" placeholder="Business Name">
          </div>
          <div class="input-group">
            <input type="tel" nbInput fullWidth formControlName="telephone" placeholder="Telephone">
          </div> -->
        </nb-card-body>
      </nb-card>
      <div class="submit-buttons">
        <button [disabled]="firstForm.invalid" (click)="onFirstSubmit()" nbButton shape="semi-round" status="success"
          class="btn-demo">Add Customer</button> 
      </div>
    </form>

  </nb-card-body>


</nb-card>